<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To DO app</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    <link rel="stylesheet" href="app/public/css/style.css">
</head
<body>
    <header id="site-header">
        <div class="navbar-inverse">
            <div class="container">
                <div class="navbar-header"><a href="/" class="navbar-brand">TO DO</a></div>
            </div>
        </div>
    </header>

    <main id="id">
        <div class="container">
            <%- body %>
        </div>
    </main>

    <footer id="site-footer">
        Copyright &copy; 2018 To Do by <a href="#">codevibess</a>
    </footer>
</body>
</html>